{% extends "general/base.html" %}
{% load static from staticfiles %}
{% block layout %}
<!--
  <div id="index-banner" class="parallax-container parallax-container-header">
    <div class="section no-pad-bot">
      <div class="container">
      </div>
    </div>
    <div class="parallax"><img src="{% static 'backgrounds/1.jpg' %}" alt="Unsplashed background img 1"></div>
  </div>
-->

<div>
  <img src="{% static 'backgrounds/1.jpg' %}" class="responsive-img">
</div>


  <div class="container">
    <div class="section">

      {% block body %}{% endblock %}

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="header col s12"><a href="{% url 'donate:index' %}" class="donate">Поддержи проект! Преобрази постмодерн!</a></h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'backgrounds/2.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>

{% endblock %}
