{% extends "general/layout.html" %}

{% block title %}{{ category.title }}{% endblock %}

{% block header %}{{ category.header }}{% endblock %}

{% block menu_item_html %}
  <a href="{% url 'texts:index' %}{{menu_item.url}}" {% if menu_item.url == category.url %}class="active"{% endif %}>{{menu_item.menu_title}}</a>
{% endblock %}

{% block sidepanel %}
  {{ sidebar | safe }}
{% endblock %}

{% block body %}
  {{ category.description | safe }}

  {% if category.description %}
    <hr>
  {% endif %}


  {% if texts %}
      {% for text in texts %}
      <div class="row">
        <div class="col m12">
          <div class="card horizontal text-card">
            <div class="card-stacked">
              <div class="card-content">
                <h5>{{ text.title }}</h5>
                <p>{{ text.short_description }}</p>

                <div class="card-text-details">
                  <div class="col m10">
                    {% if category.hardcoded %}
                      <a href="{% url 'texts:index' %}{{ text.category.url }}"><span class="right-space">{{ text.category.title }}</span></a>
                    {% endif %}
                    <span class="card-details right-space">{{ text.published_at|date:'j F Y' }}</span>
                  </div>
                  <div class="col m2">
                    <a href="{% url 'texts:text' url=text.url %}">Прочитать</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

  {% if texts.paginator.num_pages > 1 %}
    <ul class="pagination center-align">
      {% if texts.has_previous %}
        <li class="waves-effect">
          <a href="{% url 'texts:category_page' url=category.url page=texts.previous_page_number %}"><i class="material-icons">chevron_left</i></a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#"><i class="material-icons">chevron_left</i></a>
        </li>
      {% endif %}

      {% with ''|center:texts.paginator.num_pages as range %}
        {% for _ in range %}
          <li class="{% if texts.number == forloop.counter %}active grey darken-3{% else %}waves-effect{% endif %}">
            <a href="{% url 'texts:category_page' url=category.url page=forloop.counter %}">{{ forloop.counter }}</a>
          </li>
        {% endfor %}
      {% endwith %}

      {% if texts.has_next %}
        <li class="waves-effect">
          <a href="{% url 'texts:category_page' url=category.url page=texts.next_page_number %}"><i class="material-icons">chevron_right</i></a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#"><i class="material-icons">chevron_right</i></a>
        </li>
      {% endif %}
    </ul>
  {% endif %}


  {% else %}
    <div class="center-align no-items">
      Пусто
    </div>
  {% endif %}
{% endblock %}
